rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /campaigns/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /channels/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /posts/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /publishLogs/{document=**} {
      allow read, write: if false;
    }
  }
}
